.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 100px auto;
}
.operator{
    background-color: #f08c00;
  width: 125px;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin: 2px;
  color: white;
  box-shadow: inset 1px 1px 3px 1px #56472C;
  font-family: "Rubik Mono One", monospace;
  font-size: 1.5em;
  text-shadow: #2e2e2e .05em .05em 0;
}
.operator:active {
  background-color: #c76000;
  box-shadow: inset 2px 2px 5px 2px #261E14;
}
#equals {
    background-color: #0032d6;
    width: 125px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin: 2px;
    color: white;
    box-shadow: inset 1px 1px 3px 1px #2E3447;
    font-family: "Rubik Mono One", monospace;
    font-size: 1.5em;
    text-shadow: #2e2e2e .05em .05em 0;
}
#equals:active {
  background-color: #0026a1;
  box-shadow: inset 2px 2px 5px 2px #131828;
}
#display {
  display: flex;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  color: #FFFFFF;
  background: black;
  font-family: "Quantico", sans-serif;
  border-radius: 20px;
  justify-content: right;
  align-items: center;
  padding: 0px 10px;
  font-size: 1.1em;
}

#calc-body{
    display: flex;
    flex-direction: column;
    width: 300px;
  background-color: #212121;
  margin: auto;
  justify-content: center;
  padding: 10px;
  border-radius:20px;
  gap: 10px;
  box-shadow: 5px 5px 5px 1px #686868;
}
#buttons {
  display: flex;
  flex-direction: column;
}
.number,
#clear,
#percent,
#dot,
#backspace,
#negative{
  background-color: darkgray;
  width: 125px;
  height: 50px;
  border-radius:20px;
  border: none;
  padding: 5px;
  margin: 2px;
  font-weight: 800;
  box-shadow: inset 1px 1px 3px 1px #565656;
  font-family: "Rubik Mono One", monospace;
  font-size: 1.1em;
  text-shadow: #e0e0e0 .05em .05em 0;
  color:#3a3a3a;
}

.number:active,
#clear:active,
#percent:active,
#dot:active,
#backspace:active,
#negative:active {
  background-color:#707070;
  color: white;
  box-shadow: inset 2px 2px 5px 2px #232323;
  text-shadow: #2e2e2e .05em .05em 0;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  with: 300px;
}